.cart-container {
  padding: 40px;
  max-width: 1000px;
  margin: auto;
}

.cart-heading {
  text-align: center;
  margin-bottom: 30px;
}

.cart-items {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.cart-card {
  display: flex;
  gap: 20px;
  border: 1px solid #ddd;
  padding: 15px;
  border-radius: 10px;
  align-items: center;
}

.cart-img {
  width: 150px;
  height: 100px;
  object-fit: cover;
  border-radius: 5px;
}

.cart-info {
  flex-grow: 1;
}

.qty-btn {
  margin: 0 10px;
  padding: 5px 10px;
  font-weight: bold;
  cursor: pointer;
}

.qty-count {
  font-weight: bold;
}

.remove-btn {
  background-color: red;
  color: white;
  border: none;
  padding: 7px 12px;
  cursor: pointer;
  border-radius: 5px;
  margin-top: 10px;
}

.cart-summary {
  text-align: right;
  margin-top: 30px;
}

.checkout-btn {
  background-color: green;
  color: white;
  padding: 10px 20px;
  border: none;
  font-weight: bold;
  border-radius: 5px;
  cursor: pointer;
}

.empty-cart {
  text-align: center;
  font-size: 20px;
  padding: 50px;
}
